.text-on-dark h1,
.text-on-dark p,
.text-on-dark ul {
  background-color: rgba(255, 255, 255, 0.8);
}

.text-on-light h1,
.text-on-light p,
.text-on-light ul {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
}

.line-wrapper {
  display: flex;
  justify-content: space-between;
}

.has-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10em;
}
