.slide {
  background: linear-gradient(#E6F4FD, #9AD4F6);

  &:after {
    background: url(conference-building-oxford.png) 90% 90% no-repeat;
    content: '';
    -webkit-filter: opacity(25%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.imagebg {
  &:after {
    background: none;
  }
}

.lasers {
  &:before {
    background-image: url(lasercat.jpg);
  }
  &:after {
    content: 'http://www.flickr.com/photos/taxifisch/13251951364/in';
  }
}

.stagecat {
  &:before {
    background-image: url(smashing_cat.jpg);
  }
  &:after {
    content: 'http://www.flickr.com/photos/marcthiele/13264903873/in';
  }
}