/**
 * A custom theme for Malcolm Young's reveal.js presentations
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$mainFont: 'Lato', sans-serif;
$mainColor: #000;
$headingFont: 'News Cycle', Impact, sans-serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: #00008B;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);



// Theme template ------------------------------
@import "../template/theme";
@import "black";
// ---------------------------------------------


.footer {
  position: absolute;
  bottom: 20px;
}

.text-on-dark h1,
.text-on-dark h2,
.text-on-dark h3,
.text-on-dark p,
.text-on-dark ul {
  background-color: rgba(255, 255, 255, 0.8);
}

.text-on-light h1,
.text-on-light h2,
.text-on-light h3,
.text-on-light p,
.text-on-light ul {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
}

.line-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.has-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10em;
}

.split-screen {
  display: flex;
  flex-wrap: wrap;

  & > * {
    width: 50%;
    height: 50%;
    margin: 0 !important;
    border: 0 !important;
  }
}

.reveal section .no-border {
  background: none;
  border: none;
  box-shadow: none;
}
