/**
 * A custom theme for Malcolm Young's reveal.js presentations
 */
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #fff;

$mainFont: 'Lato', sans-serif;
$mainFontSize: 38px;

$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.footer {
  position: absolute;
  bottom: 20px;
}

.text-center,
.text-center * {
  text-align: center !important;
  vertical-align: middle !important;
  
  * {
    margin-left: auto;
    margin-right: auto;
  }
}

.text-on-dark {
  > h1,
  > h2,
  > h3,
  > div,
  > p,
  > ul {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.text-on-light {
  > h1,
  > h2,
  > h3,
  > div,
  > p,
  > ul {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
  }
}

.text-on-dark,
.text-on-light {
  ul {
    margin-left: 0;
    padding: .5em;
  }
  
  li {
    list-style-position: inside;
    padding-left: 1em;
  }
}

.no-background {
  background: none !important;
}

.line-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tight {
  &,
  p,
  p img {
    line-height: 1;
    margin-top: 0;
  }
}

.has-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10em;
}

.split-screen {
  display: flex;
  flex-wrap: wrap;

  & > * {
    width: 50%;
    height: 50%;
    margin: 0 !important;
    border: 0 !important;
  }

  &.three-column > * {
    width: 33%;
  }
}

.reveal section .no-border,
.reveal section.no-border {
  background: none;
  border: none;
  box-shadow: none;

  table,
  tr,
  td,
  img {
    border: none;
  }
}

table.no-border {
  border: none;
}

.reveal q,
.reveal blockquote {
  quotes: "“" "”" "‘" "’";

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }

}

.reveal blockquote {
  background: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 1.6em;
}

.reveal blockquote.twitter-tweet {
  font-size: 1em;
  background: white;
  color: black;
  
  p {
    display: block;
  }

  a {
    display: block;
  }
}

.columns-two {
  column-count: 2;
}

.reveal .list-plain {
  list-style: none;
  margin-left: 0;
}